<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/69047e92-7d8b-4e71-859f-362c92a4bd95/resourcegroups/myResourceGroup/providers/Microsoft.Web/sites/WebApplication114410404072928</ResourceId>
    <ResourceGroup>myResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webapplication114410404072928.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webapplication114410404072928.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebApplication114410404072928</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebApplication114410404072928</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:webapplication114410404072928dbserver.database.windows.net,1433;Initial Catalog=WebApplication114410404072928_db;User ID=santlico@webapplication114410404072928dbserver;Password=Mansoor123#" Name="Data Source=tcp:webapplication114410404072928dbserver.database.windows.net,1433;Initial Catalog=WebApplication114410404072928_db;User Id=santlico@webapplication114410404072928dbserver;Password=Mansoor123#" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WebApplication1.Models.ApplicationDbContext, WebApplication1" MigrationConfiguration="WebApplication1.Migrations.Configuration, WebApplication1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:webapplication114410404072928dbserver.database.windows.net,1433;Initial Catalog=WebApplication114410404072928_db;User Id=santlico@webapplication114410404072928dbserver;Password=Mansoor123#</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>